* {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: #1F2235;
    height: 100px;
}

#brandimg {
    width: 300px;
    height: 100;
    margin-right: auto;

}

body {
    background-color: #23263a;

}


a {
    text-decoration: none;
    font-weight: 200px;
    font-size: large;
    color: aliceblue;
}

li a:hover{
    color: #fc4956;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 40px;
} 

#Service {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}