* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    background-color: #1f2235;
    height: 150px;
    margin-bottom: 50px;
}

#brandimg {
    width: 300px;
    height: 100;
    margin-right: auto;

}

body {
    background-color: #23263a;

}

li > a { font-weight: 200px;
    font-size: large;
    color: aliceblue;
    text-decoration: none;

}



header li > a:hover{
    color: #fc4956;
    
}

li {
    
    display: inline;
    padding: 0 20px;
}

.Social-icon ul a {
    display: inline-block;
    position: absolute;
    font-size: large;
    
  
}

i {
    background-color: #1f2235;
    font-size: 30px;
    margin-left: 70px;
    padding: 0%;
    border-radius: 80px;
    border: 3px #fc4956 groove;

}



.container-1 > h2 {
    color: #fff;
    font-size: 55px;
    padding: 0 50px;
    margin: 10px;
    
}
.container-1 > p {
    color: #fff;
    font-size: 20px;
    padding: 0 60px;
    margin: 10px;
}

.container-1 > input {
    padding: 10px 30px;
   margin-left: 100px;
   background-color: #1f2235;
   border-radius: 10px;
   border-color: #fc4956;
   color: #fff;

}

#playbutton {
    padding: 10px 30px;
    margin-left: 50px;
    border-radius: 35px;
    margin-top: 10px;
    color: #fff;
    background-color: #fc4956;
}

.myphoto {
    width: 30%;
    height: 60%;
    position: absolute;
    right: 170px;
    bottom: 0;
}

.myphoto > img {
    position: absolute;
    height: 130%;
    left: 15px;
   
    
}